node-linker=hoisted
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
package-import-method=clone-or-copy
prefer-symlinked-executables=false
enable-pre-post-scripts=true
public-hoist-pattern[]=*metro*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=@expo/*
public-hoist-pattern[]=expo*
public-hoist-pattern[]=react-native*
